<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="A Restaurants catalogue web page.">
        <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
        <title>Restaurant Apps Starter Project</title>
        <link rel="manifest" href="manifest.json">
    </head>
    <body>
        <!-- SKIP TO CONTENT SECTION -->
        <a href="#maincontent" class="skip-link">Skip to Content</a>

        <!-- App Bar (Navigation Bar) SECTION -->
        <header class="appbar">
            <div class="appbar__brand">
                <h1><a href="/">[PR]</a></h1>
            </div>
            <nav id="drawer" class="appbar__navigation">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#/list">List</a></li>
                    <li class="nav__item"><a href="https://github.com/lightkun10">About Us </a></li>
                    <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                </ul>
            </nav>
            <div class="appbar__menu">
                <button aria-label="The hamburger button" id="hamburger">☰</a>
            </div>
        </header>

        <!-- Hero / Jumbotron SECTION -->
        <div class="hero">
            <div class="hero__inner">
                <h1 class="hero__title">FROM INDONESIA, WITH TASTE</h1>
                <p class="hero__tagline">Tasty restaurants in Indonesia that you can visit.</p>
            </div>
        </div>

        <!-- Main content section (Restaurants list) SECTION -->
        <main id="maincontent">
        </main>

        <!-- Footer SECTION -->
        <footer>
            Copyright © 2020 - Pekan Resto Apps.
        </footer>

    </body>
</html>
