@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; /* no underline */
    color: inherit;
}

/* #restaurants li {
    list-style-type: none;
} */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #424242;
}

/*
 * Header (APP-BAR)
 *
 */

.appbar {
    position: sticky;
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.appbar__brand {
    display: flex;
    align-items: center;
}

.appbar__brand h1 {
    font-family: 'Major Mono Display', monospace;
    margin: 0.5em 0.25em;
    color: #424242;
    text-transform: uppercase;
    font-size: 3.5em;
    user-select: none;
}

.appbar .appbar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 38px;
    background-color: white;
    overflow: hidden;
}

.appbar .appbar__navigation.open {
    left: 0;
}

.appbar .appbar__navigation ul li {
    list-style-type: none;
}

.appbar .appbar__navigation ul li a {
    display: inline-block;
    color: black;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
}

/*
 * Navbar
 */

.appbar__menu {
    display: flex;
    align-items: center;
}
  
.appbar__menu > button {
    background-color: transparent;
    border: none;
    font-size: 38px;
    padding: 8px;
    cursor: pointer;
}

.nav__item a {
    font-size: 1.2em;
    display: inline-block;
    padding: 1.3em;
    color: black;
}

.nav__item a:hover {
    color: #000;
    background-color: #4e89ae;
}

/*
 * Hero (Jumbotron)
 *
 */
.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_4.jpg");
    alt: "Pekan Resto's Description";
    background-position: center;
}

.hero__inner {
    margin: 0 auto;
    max-width: 720px;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
}

.hero__tagline {
    color: #fff;
    margin-top:16px;
    font-size: 18px;
    font-weight: 300;
}


/*
 * main
 *
 */
main {
    width: 100%;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    min-height: 100%;
}

/*
 * Restaurants
 */
.restaurants {
    /* margin: 32px 1em auto;
    text-align: left; */

    /* padding: 32px;
    flex: 1; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    margin: 32px 2em;
}

/*
 * restaurant item
 */

/* .restaurant-item {
    margin: 16px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
} */

.resto-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.resto-item__header {
    position: relative;
}

.resto-item .resto-item__header .resto-item__header__thumbnail {
    width: 100%;
}

.resto-item .resto-item__header .resto-item__header__rating {
    position: absolute;
    padding: 8px;
    bottom: 20px;
    left: 0;
    display: inline-block;
    background-color: black;
    color: white;
}

.resto-item .resto-item__header .resto-item__header__rating .resto-item__header__rating__score {
    margin-left: 8px;
}

.resto-item .resto-item__content {
    padding: 16px;
}

.resto-item .resto-item__content h3 {
    margin: 0 0 10px 0;
}

.resto-item .resto-item__content h3 a {
    color: #ed6663;
    text-decoration: none;
}

.resto-item .resto-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/*
 * Resto (for detail page)
 *
 */
.resto {
    margin: 0 auto;
    width: 100%;
    /* max-width: 800px; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
}

.resto .resto__img {
    width: 100%;
    max-width: 500px;
}

.resto .resto__info h4 {
    margin: 8px 0;
}

.resto > .resto__menus > h3 {
    margin-bottom: 0.5em;
}

.resto > .resto__menus > div {
    margin-bottom: 2em;
}


/*
 * Footer
 *
 */
footer {
    background-color: #ffa372;
    padding: 2em;
    width: 100%;
    text-align: center;
}