@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; /* no underline */
    color: inherit;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #424242;
}

/*
 * Header (APP-BAR)
 *
 */

.appbar {
    position: sticky;
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.appbar__brand {
    display: flex;
    align-items: center;
}

.appbar__brand h1 {
    font-family: 'Major Mono Display', monospace;
    margin: 0.5em 0.25em;
    color: #424242;
    text-transform: uppercase;
    font-size: 3.5em;
    user-select: none;
}

.appbar .appbar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
}

.appbar .appbar__navigation.open {
    left: 0;
}

.appbar .appbar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
}

/*
 * Navbar
 */

.appbar__menu {
    display: flex;
    align-items: center;
}
  
.appbar__menu > button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

.nav__item a {
    font-size: 1.2em;
    display: inline-block;
    padding: 1.3em;
    color: black;
}

.nav__item a:hover {
    color: #000;
    background-color: #4e89ae;
}

/*
 * Hero (Jumbotron)
 *
 */
.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_4.jpg");
    alt: "Pekan Resto's Description";
    background-position: center;
}

.hero__inner {
    margin: 0 auto;
    max-width: 720px;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
}

.hero__tagline {
    color: #fff;
    margin-top:16px;
    font-size: 18px;
    font-weight: 300;
}


/*
 * main
 *
 */
main {
    width: 100%;
    margin: 0 auto;
}

/*
 * Restaurants
 */
.restaurants {
    margin: 32px 1em auto;
    text-align: left;
}

/*
 * restaurant item
 */
.restaurant-item {
    margin: 16px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.restaurant-item__content {
    padding: 16px 32px 32px 32px;
}

.restaurant-item__thumbnail {
    /* width: 20%; */
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: center;
}

.restaurant-item__name, .restaurant-item__city {
    color: #ed6663;
}

/*
 * Footer
 *
 */
footer {
    background-color: #ffa372;
    padding: 2em;
    width: 100%;
    text-align: center;
}