@media screen and (max-width: 649px) {
    #drawer.open {
        /* background-color: #4e89ae; */
        background-color: #ffa372;
        margin-top: 4.8em;
    }

    .appbar .appbar__navigation {
        padding: 18px;
    }
}

@media screen and (min-width: 650px) {
    .appbar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }
   
    .appbar .appbar__brand h1 {
        font-size: 3.5em;
    }
   
    .appbar .appbar__menu {
        display: none;
    }
   
    .appbar .appbar__navigation {
        position: static;
        width: 100%;
    }
   
    .appbar .appbar__navigation ul li {
        display: inline-block;
    }
   
    .appbar .appbar__navigation ul li a {
        display: inline-block;
        /* width: 120px; */
        text-align: center;
        margin: 0;
    }
   
    .restaurants {
        grid-template-columns: 1fr 1fr;
    }
   
    .resto {
        grid-template-columns: auto 1fr;
    }
   
    .resto .resto__name {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .resto .resto__menus {
        grid-column-start: 1;
        grid-column-end: 3;
    }
  }
   
  @media screen and (min-width: 800px) {
    .appbar .appbar__brand h1 {
        font-size: 3.2em;
    }
  }
   
  @media screen and (min-width: 850px) {
    .restaurants {
        grid-template-columns: repeat(3, 1fr);
    }
  }
   
  @media screen and (min-width: 1200px) {
    /* .restaurants {
        grid-template-columns: repeat(4, 1fr);
    } */
    main {
        /* max-width: 1200px; */
        max-width: 1400px;
    }
  }